body {
	width: 80%;
	font-family: 'Barrio', cursive;
	background-image: url('../images/pixels.jpg');
	background-position: center;
	background-attachment: fixed;
	color: #fff;
	text-shadow: 3px 3px 0px rgba(49, 46, 46, 1);
}

h1 {
	text-align: center;
	font-size: 3.1em;
}

.block {
	display: flex;
	height: 480px;
}

#game {
	width: 640px;
}

#scoreTable {
	font-size: 1.4em;
	width: 50%;
	margin-left: 100px;
}

thead {
	font-size: 1.5em;
	text-align: left;
}